p {
    font-size: 20px
  }
  .box {
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 15px;
  }
  a {
    color: blue;
  }
  .empty {
    font-size: 0px;
  }
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

